<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
</head>
<body>
    <div role="navigation" class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <strong><a class="navbar-brand text-primary" href="#">白月黑羽</a></strong>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Python基础</a></li>
                    <li><a href="#">Python进阶</a></li>
                    <li><a href="#">Qt图形界面</a></li>
                    <li><a href="#">自动化测试</a></li>
                    <li><a href="#">性能测试</a></li>
                    <li><a href="#">HTML/CSS</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="form-group form-group-lg">
                <label class="sr-only" for="title">标题</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="标题：">
            </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">分类</label>
                            <select class="form-control">
                                <option>分类一</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">目录</label>
                            <select class="form-control">
                                <option>目录以</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="content"><strong>主体</strong></label>
                    <textarea class="form-control" rows="20"></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="text-right">
                    <button class="btn btn-warning ">存为草稿</button>
                    <button class="btn btn-primary">发布</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 引入 jquery -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>
</html>